# Ignorar carpetas y archivos generales de Maven
target/
!.mvn/wrapper/
!**/.mvn/wrapper/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar archivos de configuración del entorno de desarrollo
*.iml
*.log
*.class
*.project
*.classpath
*.settings/
*.factorypath

# Ignorar archivos y carpetas generadas por sistemas de construcción
/.idea/
/*.iml
/.settings/
/out/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos específicos de cada módulo (si es necesario)
module-a/target/
module-b/target/
module-c/target/

# Ignorar otros directorios específicos de construcción o IDE
/.gradle/
/.gradle/
/build/
/.vscode/
/nbproject/private/

# Si estás usando Windows, ignora los archivos del sistema
*.bak
*.swp
*.swo
*.swn
*.tmp
desktop.ini

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
